<div class="container">
    <header class="header">
        <h1>房地產管理-出售</h1>
        <button type="button" class="btn btn-primary" @@click="openAddModal()">
            + 新增物件
        </button>
    </header>

    <div class="search-bar">
        <input type="text" placeholder="搜尋物件...">
        <i class="icon-search"></i>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>物件名稱</th>
                    <th>地址</th>
                    <th>價格</th>
                    <th>類型</th>
                    <th>坪數</th>
                    <th>狀態</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in rows" :key="index">
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.price.toLocaleString()}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.range}}</td>
                    <td>
                        <span class="badge badge-pill badge-danger" v-if="!item.status">停售中</span>
                        <span class="badge badge-pill badge-success" v-if="item.status">銷售中</span>
                    </td>
                    <td class="actions">
                        <button class="btn-edit" v-on:click="openEditModal(item,index)">編輯</button>
                        <button class="btn-delete" v-on:click="ChangeDataStatus(index)">
                            <span v-if="item.status">停售</span>
                            <span v-if="!item.status">銷售</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                <a class="page-link" href="#" @@click.prevent="changePage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: page === currentPage }">
                <a class="page-link" href="#" @@click.prevent="changePage(page)">{{page}}</a>
            </li>
            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                <a class="page-link" href="#" @@click.prevent="changePage(currentPage + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>


<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增物件</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="closeEditModal()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>物件名稱</label>
                    <input type="text" class="form-control" v-model="property.name">
                </div>
                <div class="form-group">
                    <label>地址</label>
                    <input type="text" class="form-control" v-model="property.address">
                </div>
                <div class="form-group">
                    <label>價格</label>
                    <input type="number" class="form-control" v-model="property.price">
                </div>
                <div class="form-group">
                    <label>類型</label>
                    <select class="form-control" v-model="property.type">
                        <option value="1">公寓</option>
                        <option value="2">透天</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>坪數</label>
                    <input type="number" class="form-control" v-model="property.range">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="EditForm(property.index)">Edit</button>
            </div>
        </div>
    </div>
</div>



<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增物件</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="closeAddModal()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>物件名稱</label>
                    <input type="text" class="form-control" v-model="property.name">
                </div>
                <div class="form-group">
                    <label>地址</label>
                    <input type="text" class="form-control" v-model="property.address">
                </div>
                <div class="form-group">
                    <label>價格</label>
                    <input type="number" class="form-control" v-model="property.price">
                </div>
                <div class="form-group">
                    <label>類型</label>
                    <select class="form-control" v-model="property.type">
                        <option value="1">公寓</option>
                        <option value="2">透天</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>坪數</label>
                    <input type="number" class="form-control" v-model="property.range">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="submitForm()">Submit</button>
            </div>
        </div>
    </div>
</div>